.game-info-icon {
    position: relative;
    width: 2rem;
    height: 2rem;
    left: 1rem;
    top: 1rem;
    font-size: 2rem;
    border: 1px solid #000;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.game-information {
    display: none;
    position: absolute;
    bottom: 3rem;
    max-width: fit-content;
    overflow-wrap: break-word;
    width: 30rem;
    height: fit-content;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: lightblue;
    padding: 1rem;
}

.tooltip {
    display: block;
}

@media (max-width: 768px) {
    .game-information {
        left: 1rem; 
        right: 1rem; 
    }
}
