.bee-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.hp-bar, .hp-container {
    width: 0.625rem;
    transition: height 1s ease; /* makes the hp bar go down smoothly */
}

.hp-container {
    border: 1px solid #000;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    border-radius: 1rem;
}

.hp-bar {
    background-color: green;
}

.hp-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0.2rem;
    margin-top: 0.5rem;
}